*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{   
    background-color: #6E5653;
    color: white;
    font-size: 24px;
    transition: background-color 0.75s ease-in-out;
    width: 100vw;
    height: 100vh;
}


.container
{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.window_log
{
    display: flex;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    background-color: 	#2B2221;
    box-shadow: 5px 5px 5px #C4C4C4, 15px 15px 15px black;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
   
}

.text_login,.text_password
{
    
}


.text_login,.text_password,.submit_btn
{
    height: 50px; 
    width: 500px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    background-color: #C4C4C4;
    border: none;
    border: 4px solid #C4C4C4;
    outline: none;
    border-radius: 30px;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.6; /* Firefox */
  }
  


.submit_btn
{
    position: absolute;
    bottom: 60px;
    font-weight: 700;
    cursor: pointer;
}

.header_log
{
    font-size: 18px;
    position: absolute;
    top: 40px;
    text-align: center;
}


.error
{
    width: 100%;
    text-align: center;
    color: red!important;
    font-size: 18px;
    margin-top: 10px;
}


@media only all and (max-width: 1128px)
{
    
    .text_login,.text_password,.submit_btn
    {
        height: 50px; 
        width: 300px;
        margin: 5px;
        text-align: center;
        font-size: 16px;
        background-color: coral;
        border: none;
        border: 4px solid #808080;
        outline: none;
        border-radius: 30px;
    }

        
    .header_log
    {
        font-size: 12px;
        position: absolute;
        top: 40px;
        text-align: center;
    }

}


@media only all and (max-width: 752px)
{
    
    .text_login,.text_password,.submit_btn
    {
        height: 50px; 
        width: 200px;
        margin: 5px;
        text-align: center;
        font-size: 14px;
        background-color: coral;
        border: none;
        border: 4px solid #808080;
        outline: none;
        border-radius: 30px;
    }

        
    .header_log
    {
        font-size: 10px;
        position: absolute;
        top: 40px;
        text-align: center;
    }

}


@media only all and (max-width: 630px)
{
    .window_log
    {
        width: 75%;
    }
}


.registration 
{   
    position: absolute;
    bottom: 15px;
    text-decoration: underline;
    color: white;
    font-size: 18px;
}

.registration a
{
    color: white;
}

.registration a:hover,a:focus
{
    color: gray;
}




/*--------------------------------- registration.php */

.container_reg
{
    height: 100vh;
    width: 100vw;   
    position: relative;
    
}

.reg_imie,.reg_nazwisko,.reg_mail,.reg_login,.reg_haslo,.reg_tel
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}




.reg_nazwisko,.reg_mail,.reg_login,.reg_haslo,.reg_tel
{
   display: none;
   
}

.reg_nazwisko,.reg_mail,.reg_login,.reg_haslo,.reg_tel,.reg_imie
{
    transition: display 1s ease-in-out;
}

.reg_imie input,.reg_nazwisko input,.reg_mail input,.reg_login input,.reg_haslo input,.reg_tel input
{
    height: 100px;
    width: 500px;
    outline: none;
    border: none;
    font-size: 35px;
    text-align: center;
    border-radius: 30px;
    
}


.reg_header
{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 3px;
}

.next_btn img
{
    width: 60px;
    height: 60px;
    cursor: pointer;
  
}

.next_btn:hover img
{
    opacity: 0.90;
}

.next_btn
{
    position:absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
   
}

.submit_form
{
    position:absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
    cursor: pointer;
}

.submit_form input
{
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    font-weight: 700;
    font-size: 18px;
}

.submit_form:hover input
{
    opacity: 0.8;
}

.circles
{   
    position: absolute;
    left: 10%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7
{
    width: 50px;
    height: 50px;
    border-radius: 50%;  /* we create circles */
    background-color: white;
    margin: 10px;
    transition: opacity 1s ease-in-out;
}

.c2,.c3,.c4,.c5,.c6,.c7
{
    opacity: 0.5;
}



.active
{
    display: block;
}

.unactive
{
    display: none;
}

.regulamin_and_captcha
{   

    color: black;
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 26px;
    font-weight: 700;
    transform: translate(-50%,-45%);
    text-align: center;
    display: none;
}


.regulamin_and_captcha input
{
    margin: 10px;
    width: 20px;
    height: 20px;
   
    
}

#recaptcha
{
    margin-top: 30px;
    
}


.desc_checkbox,#reg_checkbox,#submit_form_btn
{
    cursor: pointer;
}

.submit_form{display: none;}


#prompt,#prompt2
{   
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    display: none;
    transform: translate(-50%,-25%);
    border: 1px solid black;
    background-color: #262626;
    box-shadow: 10px 10px 10px black;
    padding: 15px;

}

@keyframes fade-in {

    from{opacity:0;transform: translate(-50%,-85%);pointer-events: none;}
    to{opacity: 1;transform:translate(-50%,-50%);pointer-events: all;}
    
}



@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


@media only all and (max-width: 848px)
{
    
.reg_header
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

    
.reg_imie,.reg_nazwisko,.reg_mail,.reg_login,.reg_haslo,.reg_tel
{
    position:absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-22%);

}


    
.reg_imie input,.reg_nazwisko input,.reg_mail input,.reg_login input,.reg_haslo input,.reg_tel input
{
    height: 80px;
    width: 80vw;
    outline: none;
    border: none;
    font-size: 28px;
    text-align: center;
    border-radius: 30px;
    
}


    
.next_btn
{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-35%);
   
}


    
.circles
{   
    position: absolute;
    left: 50%;
    bottom: -30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,0);
    
}


#prompt
{   
    position: absolute;
    top: 45%;
    left: 50%;
    width: 90vw;
    font-size: 10px; 
    transform: translate(-50%,-45%); 
    
}



    
.c1,.c2,.c3,.c4,.c5,.c6,.c7
{
    width: 35px;
    height: 35px;
    border-radius: 50%;  /* we create circles */
   
    margin: 5px;
   
}


.regulamin_and_captcha
{   

    color: black;
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 26px;
    font-weight: 700;
    transform: translate(-50%,-25%);
    text-align: center;
    display: none;
}


.submit_form
{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    cursor: pointer;
}


}


@keyframes slide_right
{
    from{transform: translate(-75%,-25%);opacity:0;}
    to{transform: translate(-50%,-25%);opacity: 1;}
}

@keyframes slide_left
{
    from{transform: translate(-50%,-25%);opacity:1;}
    to{transform: translate(-25%,-25%);opacity:0;}
}


@keyframes Longslide_left
{
    50%{transform: translate(-50%,-25%);opacity:1;}
    100%{transform: translate(-25%,-25%);opacity:0;}
}